.header {
  &__link {
    border-radius: 4px;
    color: $secondary-color;
    background: $primary-color;
    box-shadow: 1px 1px 3px #602222;
  }
}
.footer {
  background: rgba(48, 47, 47, 0.847);
  &__copy {
    font-size: 14px;
    color: ghostwhite;
  }
}
.section {
  &--primary {
    background: $primary-color;
  }
  &--sub-primary {
    background: $primary-color;
  }
  &--secondary {
    background: $secondary-color;
  }
  &--sub-secondary {
    background: #fff;
  }
  &--primary-stripe {
    background: url("../../images/bg_primary-stripe.jpg") no-repeat left
      top/cover;
  }
  &--secondary-stripe {
    background: url("../../images/bg_secondary-stripe.jpg") no-repeat left
      top/cover;
  }
  &--working-image {
    background: rgba(255, 255, 255, 0.65) url("../../images/bg_working.jpg")
      no-repeat left top/cover;
    background-blend-mode: lighten;
  }
  &--question-image {
    background: rgba(255, 255, 255, 0.8) url("../../images/bg_question.jpg")
      no-repeat left top/cover;
    background-blend-mode: lighten;
  }
  &__header {
    font-size: 24px;
    @include pc() {
      font-size: 36px;
    }
    font-weight: 900;
    &--primary {
      color: $primary-color;
    }
    &--secondary {
      color: $secondary-color;
    }
  }
}
.view {
  &__sub {
    font-size: 16px;
    @include pc() {
      font-size: 28px;
    }
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.2em;
    color: $primary-color;
  }
}
.trouble {
  &__header {
    font-size: 24px;
    @include pc() {
      font-size: 64px;
    }
    font-weight: 900;
  }
  &__header-large {
    font-size: 32px;
    @include pc() {
      font-size: 72px;
    }
    color: #ffe803;
  }
  &__card {
    background: $secondary-color;
    border-radius: 4px;
    @include pc() {
      border-radius: 50%;
    }
  }
  &__icon {
    font-size: 64px;
    @include pc() {
      font-size: 96px;
    }
    &--improvement {
      color: $primary-color;
    }
    &--saving {
      color: $primary-color;
    }
    &--reduction {
      color: $primary-color;
    }
  }
  &__text {
    font-size: 16px;
    @include pc() {
      font-size: 28px;
    }
    font-weight: 900;
    line-height: 1.6em;
    color: #0d0d0d;
  }
  &__text-large {
    font-size: 20px;
    @include pc() {
      font-size: 36px;
    }
  }
  &__catch-text {
    font-size: 24px;
    @include pc() {
      font-size: 48px;
    }
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.2em;
    color: $secondary-color;
  }
  &__catch-small {
    font-size: 20px;
    @include pc() {
      font-size: 40px;
    }
  }
}
.service {
  &__heading {
    color: $secondary-color;
    background-color: $primary-color;
  }
  &__text {
    font-size: 16px;
    @include pc() {
      font-size: 26px;
    }
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.6em;
  }
}
.achievement {
  &__text {
    font-size: 16px;
    @include pc() {
      font-size: 22px;
    }
    color: $secondary-color;
  }
}
.plan {
  &__desc-link {
    font-size: 16px;
    @include pc() {
      font-size: 22px;
    }
    border: 2px solid $primary-color;
    border-radius: 4px;
    color: $secondary-color;
    background: $primary-color;
    &:hover {
      color: $primary-color;
      background: $secondary-color;
    }
  }
  &__table-body {
    tr {
      &:nth-child(odd) {
        background: #fff;
      }
      &:nth-child(even) {
        background: rgb(233, 233, 233);
      }
      &:last-child {
        background: none;
      }
    }
  }
  &__col {
    border-left: 4px solid $secondary-color;
    border-right: 4px solid $secondary-color;
    color: $secondary-color;
    &--basic {
      background: #91a2b4;
    }
    &--standard {
      background: #d7b36c;
    }
    &--complete {
      background: #d65c60;
    }
  }
  &__col-header {
    font-size: 16px;
    @include pc() {
      font-size: 20px;
    }
  }
  &__col-footer {
    font-size: 16px;
    @include pc() {
      font-size: 20px;
    }
  }
  &__row-header {
    font-size: 16px;
    @include pc() {
      font-size: 18px;
    }
    font-weight: 700;
  }
  &__data-check {
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    &--blue {
      background-image: url("../../images/check_blue.png");
    }
    &--yellow {
      background-image: url("../../images/check_yellow.png");
    }
    &--red {
      background-image: url("../../images/check_red.png");
    }
  }
  &__link {
    font-size: 16px;
    @include pc() {
      font-size: 32px;
    }
    font-weight: 900;
    border: 2px solid $primary-color;
    border-radius: 4px;
    background: $primary-color;
    color: $secondary-color;
    &:hover {
      color: $primary-color;
      background: $secondary-color;
    }
  }
}
.workflow {
  &__card {
    box-shadow: 1px 1px 3px #602222;
  }
  &__card-header {
    border-radius: 4px 4px 0 0;
    background: #fed5cf;
  }
  &__card-title {
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
  }
  &__card-body {
    border-radius: 0 0 4px 4px;
    background: $secondary-color;
  }
  &__card-text {
    font-size: 22px;
    font-weight: 700;
    color: $primary-color;
  }
  &__divider {
    border-top: 4px dotted $secondary-color;
  }
  &__panel {
    border-radius: 4px;
    background: $secondary-color;
  }
  &__panel-heading {
    font-size: 20px;
    @include pc() {
      font-size: 28px;
    }
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(159, 158, 158, 0.771);
    color: $secondary-color;
    background: $primary-color;
  }
  &__panel-title {
    font-size: 22px;
    @include pc() {
      font-size: 36px;
    }
    font-weight: 700;
  }
  &__panel-text {
    font-size: 16px;
    @include pc() {
      font-size: 20px;
    }
    line-height: 1.5em;
  }
}
.faq {
  &__pair {
    font-size: 16px;
    @include pc() {
      font-size: 20px;
    }
    box-shadow: 1px 1px 3px rgba(159, 158, 158, 0.771);
  }
  &__text {
    &--question {
      font-weight: 700;
      border-radius: 4px 4px 0 0;
      background: $primary-color;
      color: $secondary-color;
      &::before {
        content: "";
        display: block;
        min-width: 32px;
        min-height: 32px;
        @include pc() {
          min-width: 48px;
          min-height: 48px;
        }
        margin: 0 8px 0 0;
        background: url("../../images/question.png") no-repeat center
          center/contain;
      }
    }
    &--answer {
      border-radius: 0 0 4px 4px;
      background: $secondary-color;
    }
  }
}
.delegate {
  &__img {
    border-radius: 4px 4px 0 0;
    @include pc() {
      border-radius: 4px 0 0 4px;
    }
  }
  &__text {
    background: $secondary-color;
    border-radius: 0 0 4px 4px;
    @include pc() {
      border-radius: 0 4px 4px 0;
    }
  }
  &__name {
    font-size: 20px;
    @include pc() {
      font-size: 24px;
    }
    border-bottom: 4px dotted #000;
  }
  &__profile {
    font-size: 16px;
    @include pc() {
      font-size: 18px;
    }
  }
  &__link {
    font-size: 18px;
    @include pc() {
      font-size: 20px;
    }
    &::before {
      content: "";
      min-width: 32px;
      min-height: 32px;
      margin: 0 8px 0 0;
    }
    &--youtube {
      color: $primary-color;
      &::before {
        background: url("../../images/sns_youtube.png") no-repeat center
          center/contain;
      }
    }
    &--twitter {
      color: #00acee;
      &::before {
        background: url("../../images/sns_twitter.png") no-repeat center
          center/contain;
      }
    }
  }
}
.contact {
  &__form-item {
    font-size: 16px;
    @include pc() {
      font-size: 18px;
    }
  }
  &__textbox {
    border: 2px solid rgba(211, 211, 211, 0.958);
    background: rgba(240, 236, 236, 0.993);
    border-radius: 4px;
  }
  &__textarea {
    border: 2px solid rgba(211, 211, 211, 0.958);
    background: rgba(240, 236, 236, 0.993);
    border-radius: 4px;
  }
  &__select {
    border: 2px solid rgba(211, 211, 211, 0.958);
    background: rgba(240, 236, 236, 0.993)
      url("#{$static}/images/arrow_drop_down_black.svg") no-repeat right 10px
      center / 24px;
    border-radius: 4px;
  }
  &__label {
    font-size: 16px;
    @include pc() {
      font-size: 18px;
    }
    user-select: none;
  }
  &__ref {
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
  }
  &__submit {
    font-size: 16px;
    @include pc() {
      font-size: 22px;
    }
    border: 2px solid $primary-color;
    color: $secondary-color;
    background: $primary-color;
    border-radius: 4px;
    &:hover {
      color: $primary-color;
      background: $secondary-color;
    }
  }
}
.privacy {
  &__title {
    font-size: 18px;
    font-weight: 700;
    color: $primary-color;
  }
}
.law {
  &__title {
    font-size: 18px;
    font-weight: 700;
    color: $primary-color;
  }
}
.thanks {
  &__title {
    font-size: 18px;
    font-weight: 700;
    color: $primary-color;
  }
  &__ref {
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
  }
}
