$static: "https://customtube.github.io/@static";
$noto-sans-jp: "Noto Sans JP", sans-serif;
$baloo: "Baloo Bhaijaan 2", cursive;
$primary-color: #b33e3e;
$secondary-color: rgba(245, 245, 245, 0.951);
